body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
ul {
	list-style-type: none;
}
li {
	font-size: 24px;
	background-color: blue;
	border-radius: 5px;
	color: white;
	margin-top: 5px;
	padding: 5px;
}
li:hover {
	background-color: blue;
	color: black;
	margin-left: 10px;
}
a {
	color: white;
}
ol {
	margin: 10;
}